@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100;
}

textarea {
  @apply bg-slate-900 border border-slate-700 rounded-md p-3;
}
